{
  "openapi": "3.2.0",
  "info": {
    "title": "Ultralytics Platform API",
    "summary": "Build, train, and deploy YOLO models with the Ultralytics Platform REST API.",
    "version": "1.0.0",
    "description": "The [Ultralytics Platform](https://platform.ultralytics.com) API lets you manage datasets, train models on cloud GPUs, deploy inference endpoints, and more — all from your own code. Reference resources by their URL name (e.g. `my-dataset`) instead of internal IDs. See the [Quickstart](https://docs.ultralytics.com/platform/quickstart/) to get started.",
    "termsOfService": "https://www.ultralytics.com/legal/terms-of-service",
    "contact": {
      "name": "Ultralytics",
      "url": "https://www.ultralytics.com"
    },
    "license": {
      "name": "AGPL-3.0",
      "identifier": "AGPL-3.0-only",
      "url": "https://www.ultralytics.com/license"
    }
  },
  "externalDocs": {
    "description": "Full documentation with guides and examples",
    "url": "https://docs.ultralytics.com/platform/api/"
  },
  "servers": [
    {
      "url": "https://platform.ultralytics.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Datasets",
      "description": "Create, browse, and manage labeled image datasets for training YOLO models. See [Datasets documentation](https://docs.ultralytics.com/platform/data/datasets/).",
      "externalDocs": {
        "description": "Datasets documentation",
        "url": "https://docs.ultralytics.com/platform/data/datasets/"
      }
    },
    {
      "name": "Projects",
      "description": "Organize your models into projects. Each model belongs to one project. See [Projects documentation](https://docs.ultralytics.com/platform/train/projects/).",
      "externalDocs": {
        "description": "Projects documentation",
        "url": "https://docs.ultralytics.com/platform/train/projects/"
      }
    },
    {
      "name": "Models",
      "description": "Manage trained YOLO models — view metrics, download weights, run inference, and export to other formats. See [Models documentation](https://docs.ultralytics.com/platform/train/models/).",
      "externalDocs": {
        "description": "Models documentation",
        "url": "https://docs.ultralytics.com/platform/train/models/"
      }
    },
    {
      "name": "Training",
      "description": "Launch YOLO training on cloud GPUs (RTX 4090, A100, H100) and monitor progress in real time. See [Cloud Training documentation](https://docs.ultralytics.com/platform/train/cloud-training/).",
      "externalDocs": {
        "description": "Cloud Training documentation",
        "url": "https://docs.ultralytics.com/platform/train/cloud-training/"
      }
    },
    {
      "name": "Exports",
      "description": "Convert models to optimized formats like ONNX, TensorRT, CoreML, and LiteRT for edge deployment. See [Deploy documentation](https://docs.ultralytics.com/platform/deploy/).",
      "externalDocs": {
        "description": "Deploy documentation",
        "url": "https://docs.ultralytics.com/platform/deploy/"
      }
    },
    {
      "name": "Deployments",
      "description": "Deploy models to dedicated inference endpoints with auto-scaling, health checks, and monitoring. See [Endpoints documentation](https://docs.ultralytics.com/platform/deploy/endpoints/).",
      "externalDocs": {
        "description": "Endpoints documentation",
        "url": "https://docs.ultralytics.com/platform/deploy/endpoints/"
      }
    },
    {
      "name": "Billing",
      "description": "Check your credit balance, purchase credits, view transaction history, and configure auto top-up. See [Billing documentation](https://docs.ultralytics.com/platform/account/billing/).",
      "externalDocs": {
        "description": "Billing documentation",
        "url": "https://docs.ultralytics.com/platform/account/billing/"
      }
    },
    {
      "name": "Account",
      "description": "Manage your profile, API keys, storage usage, and data privacy settings. See [Account documentation](https://docs.ultralytics.com/platform/account/).",
      "externalDocs": {
        "description": "Account documentation",
        "url": "https://docs.ultralytics.com/platform/account/"
      }
    },
    {
      "name": "Activity",
      "description": "View a feed of recent actions on your account — training runs, uploads, and more. See [Activity documentation](https://docs.ultralytics.com/platform/account/activity/).",
      "externalDocs": {
        "description": "Activity documentation",
        "url": "https://docs.ultralytics.com/platform/account/activity/"
      }
    },
    {
      "name": "Explore",
      "description": "Search and browse public datasets and projects shared by the community. See [Explore documentation](https://docs.ultralytics.com/platform/explore/).",
      "externalDocs": {
        "description": "Explore documentation",
        "url": "https://docs.ultralytics.com/platform/explore/"
      }
    },
    {
      "name": "Upload",
      "description": "Upload files directly to cloud storage using signed URLs for fast, reliable transfers. See [Data documentation](https://docs.ultralytics.com/platform/data/).",
      "externalDocs": {
        "description": "Data documentation",
        "url": "https://docs.ultralytics.com/platform/data/"
      }
    },
    {
      "name": "Teams",
      "description": "Create team workspaces, invite members, and manage roles for collaboration. See [Teams documentation](https://docs.ultralytics.com/platform/account/teams/).",
      "externalDocs": {
        "description": "Teams documentation",
        "url": "https://docs.ultralytics.com/platform/account/teams/"
      }
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key starting with `ul_`. Create one at platform.ultralytics.com under Settings > API Keys."
      }
    }
  },
  "paths": {
    "/api/datasets": {
      "get": {
        "summary": "List your datasets",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets",
        "description": "Returns your datasets with pagination. Public datasets from other users are also accessible when filtering by username.",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return (default 20, max 500)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Show datasets from this user instead of your own",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "description": "Find a specific dataset by name, e.g. `my-dataset` (use with username)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Team workspace to browse",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Data region: us, eu, or ap",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeImageUrls",
            "in": "query",
            "required": false,
            "description": "Set true to include signed full-size sample image URLs (thumbnail fallback)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Dataset ID"
                          },
                          "userId": {
                            "type": "string",
                            "description": "Owner user ID"
                          },
                          "username": {
                            "type": "string",
                            "description": "Owner's username"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Dataset URL, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name"
                          },
                          "description": {
                            "description": "Dataset description",
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string",
                            "enum": [
                              "public",
                              "private"
                            ],
                            "description": "Visibility"
                          },
                          "task": {
                            "type": "string",
                            "enum": [
                              "detect",
                              "segment",
                              "semantic",
                              "classify",
                              "pose",
                              "obb"
                            ],
                            "description": "YOLO task type"
                          },
                          "imageCount": {
                            "type": "number",
                            "description": "Total images"
                          },
                          "classCount": {
                            "description": "Number of classes",
                            "type": "number"
                          },
                          "classNames": {
                            "description": "Class names",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "format": {
                            "description": "Annotation format",
                            "type": "string",
                            "enum": [
                              "yolo",
                              "coco",
                              "voc",
                              "raw"
                            ]
                          },
                          "tags": {
                            "description": "Tags",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "license": {
                            "description": "License",
                            "type": "string",
                            "enum": [
                              "None",
                              "CC0-1.0",
                              "CC-BY-2.5",
                              "CC-BY-4.0",
                              "CC-BY-SA-4.0",
                              "CC-BY-NC-4.0",
                              "CC-BY-NC-SA-4.0",
                              "CC-BY-ND-4.0",
                              "CC-BY-NC-ND-4.0",
                              "Apache-2.0",
                              "MIT",
                              "AGPL-3.0",
                              "GPL-3.0",
                              "Research-Only",
                              "Other"
                            ]
                          },
                          "splits": {
                            "description": "Split statistics",
                            "type": "object",
                            "properties": {
                              "train": {
                                "type": "number",
                                "description": "Training images"
                              },
                              "val": {
                                "type": "number",
                                "description": "Validation images"
                              },
                              "test": {
                                "default": 0,
                                "description": "Test images",
                                "type": "number"
                              },
                              "labeled": {
                                "default": 0,
                                "description": "Labeled images",
                                "type": "number"
                              }
                            },
                            "required": [
                              "train",
                              "val",
                              "test",
                              "labeled"
                            ],
                            "additionalProperties": false
                          },
                          "annotationCount": {
                            "description": "Total annotations",
                            "type": "number"
                          },
                          "totalBytes": {
                            "description": "Storage size in bytes",
                            "type": "number"
                          },
                          "starCount": {
                            "type": "number",
                            "description": "Number of stars"
                          },
                          "isStarred": {
                            "type": "boolean",
                            "description": "Whether current user starred this"
                          },
                          "status": {
                            "description": "Processing status",
                            "type": "string",
                            "enum": [
                              "processing",
                              "ready",
                              "failed"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                            "description": "Creation timestamp"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                            "description": "Last update timestamp"
                          }
                        },
                        "required": [
                          "_id",
                          "userId",
                          "username",
                          "slug",
                          "name",
                          "visibility",
                          "task",
                          "imageCount",
                          "starCount",
                          "isStarred",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false,
                        "description": "Dataset summary"
                      }
                    },
                    "total": {
                      "type": "number",
                      "description": "Total matching datasets"
                    },
                    "region": {
                      "type": "string",
                      "enum": [
                        "us",
                        "eu",
                        "ap"
                      ],
                      "description": "Data region"
                    }
                  },
                  "required": [
                    "datasets",
                    "total",
                    "region"
                  ],
                  "additionalProperties": false,
                  "description": "Response from GET /api/datasets"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "post_api_datasets",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[a-z0-9-]+$"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Resource visibility"
                  },
                  "task": {
                    "default": "detect",
                    "type": "string",
                    "enum": [
                      "detect",
                      "segment",
                      "semantic",
                      "classify",
                      "pose",
                      "obb"
                    ],
                    "description": "YOLO task type"
                  },
                  "imageCount": {
                    "default": 0,
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "classNames": {
                    "maxItems": 25000,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 100
                    }
                  },
                  "format": {
                    "default": "yolo",
                    "type": "string",
                    "enum": [
                      "yolo",
                      "coco",
                      "voc",
                      "raw",
                      "ndjson"
                    ],
                    "description": "Dataset annotation format"
                  },
                  "tags": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    }
                  },
                  "license": {
                    "type": "string",
                    "enum": [
                      "None",
                      "CC0-1.0",
                      "CC-BY-2.5",
                      "CC-BY-4.0",
                      "CC-BY-SA-4.0",
                      "CC-BY-NC-4.0",
                      "CC-BY-NC-SA-4.0",
                      "CC-BY-ND-4.0",
                      "CC-BY-NC-ND-4.0",
                      "Apache-2.0",
                      "MIT",
                      "AGPL-3.0",
                      "GPL-3.0",
                      "Research-Only",
                      "Other"
                    ],
                    "description": "Dataset license identifier"
                  },
                  "owner": {
                    "description": "Team owner username (creates resource in their workspace)",
                    "type": "string",
                    "maxLength": 32
                  }
                },
                "required": [
                  "slug",
                  "name",
                  "task",
                  "imageCount",
                  "format"
                ],
                "additionalProperties": false,
                "description": "API request for creating a new dataset"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dataset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "description": "Created project ID",
                      "type": "string"
                    },
                    "datasetId": {
                      "description": "Created dataset ID",
                      "type": "string"
                    },
                    "modelId": {
                      "description": "Created model ID",
                      "type": "string"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Resource name, e.g. `my-dataset`"
                    },
                    "region": {
                      "type": "string",
                      "enum": [
                        "us",
                        "eu",
                        "ap"
                      ],
                      "description": "Data region"
                    }
                  },
                  "required": [
                    "slug",
                    "region"
                  ],
                  "additionalProperties": false,
                  "description": "Standard resource creation response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "409": {
            "description": "A dataset with this name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{datasetId}": {
      "get": {
        "summary": "Get dataset details",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets_datasetId",
        "description": "Returns full details for a dataset including class names, split counts, and sample images.",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Owner username when using a dataset slug instead of an ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dataset": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Dataset ID"
                        },
                        "userId": {
                          "type": "string",
                          "description": "Owner user ID"
                        },
                        "username": {
                          "type": "string",
                          "description": "Owner's username"
                        },
                        "slug": {
                          "type": "string",
                          "description": "Dataset URL, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
                        },
                        "name": {
                          "type": "string",
                          "description": "Display name"
                        },
                        "description": {
                          "description": "Dataset description",
                          "type": "string"
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "public",
                            "private"
                          ],
                          "description": "Visibility"
                        },
                        "task": {
                          "type": "string",
                          "enum": [
                            "detect",
                            "segment",
                            "semantic",
                            "classify",
                            "pose",
                            "obb"
                          ],
                          "description": "YOLO task type"
                        },
                        "imageCount": {
                          "type": "number",
                          "description": "Total images"
                        },
                        "classCount": {
                          "description": "Number of classes",
                          "type": "number"
                        },
                        "classNames": {
                          "description": "Class names",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "format": {
                          "description": "Annotation format",
                          "type": "string",
                          "enum": [
                            "yolo",
                            "coco",
                            "voc",
                            "raw"
                          ]
                        },
                        "tags": {
                          "description": "Tags",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "license": {
                          "description": "License",
                          "type": "string",
                          "enum": [
                            "None",
                            "CC0-1.0",
                            "CC-BY-2.5",
                            "CC-BY-4.0",
                            "CC-BY-SA-4.0",
                            "CC-BY-NC-4.0",
                            "CC-BY-NC-SA-4.0",
                            "CC-BY-ND-4.0",
                            "CC-BY-NC-ND-4.0",
                            "Apache-2.0",
                            "MIT",
                            "AGPL-3.0",
                            "GPL-3.0",
                            "Research-Only",
                            "Other"
                          ]
                        },
                        "splits": {
                          "description": "Split statistics",
                          "type": "object",
                          "properties": {
                            "train": {
                              "type": "number",
                              "description": "Training images"
                            },
                            "val": {
                              "type": "number",
                              "description": "Validation images"
                            },
                            "test": {
                              "default": 0,
                              "description": "Test images",
                              "type": "number"
                            },
                            "labeled": {
                              "default": 0,
                              "description": "Labeled images",
                              "type": "number"
                            }
                          },
                          "required": [
                            "train",
                            "val",
                            "test",
                            "labeled"
                          ],
                          "additionalProperties": false
                        },
                        "annotationCount": {
                          "description": "Total annotations",
                          "type": "number"
                        },
                        "totalBytes": {
                          "description": "Storage size in bytes",
                          "type": "number"
                        },
                        "starCount": {
                          "type": "number",
                          "description": "Number of stars"
                        },
                        "isStarred": {
                          "type": "boolean",
                          "description": "Whether current user starred this"
                        },
                        "status": {
                          "description": "Processing status",
                          "type": "string",
                          "enum": [
                            "processing",
                            "ready",
                            "failed"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "Creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "Last update timestamp"
                        },
                        "classColors": {
                          "description": "Custom class colors (classId → hex)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "kptShape": {
                          "description": "Pose keypoint shape [num_keypoints, dims]",
                          "type": "array",
                          "prefixItems": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "processingTimeMs": {
                          "description": "Backend processing time in milliseconds",
                          "type": "number"
                        },
                        "processingError": {
                          "description": "Latest ingest processing error",
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "Error message"
                            },
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                              "description": "When the error occurred"
                            }
                          },
                          "required": [
                            "message",
                            "timestamp"
                          ],
                          "additionalProperties": false
                        },
                        "errorCount": {
                          "description": "Number of images with processing errors",
                          "type": "number"
                        },
                        "iconColor": {
                          "description": "Icon background color",
                          "type": "string"
                        },
                        "iconLetter": {
                          "description": "Icon letter(s)",
                          "type": "string"
                        },
                        "iconImage": {
                          "description": "Signed icon image URL",
                          "type": "string"
                        },
                        "sampleImages": {
                          "description": "Sample images for preview cards",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Signed thumbnail URL"
                              },
                              "imageUrl": {
                                "description": "Signed full-size image URL used as a thumbnail fallback",
                                "type": "string"
                              },
                              "width": {
                                "type": "number",
                                "description": "Image width in pixels"
                              },
                              "height": {
                                "type": "number",
                                "description": "Image height in pixels"
                              },
                              "labels": {
                                "description": "Preview annotations overlaid on the sample image",
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "classId": {
                                      "type": "number",
                                      "description": "Class index (0-based)"
                                    },
                                    "bbox": {
                                      "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "segments": {
                                      "description": "Segmentation points, normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "keypoints": {
                                      "description": "Keypoints [x, y, visibility, ...] normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "obb": {
                                      "description": "Oriented bounding box [x1,y1,x2,y2,x3,y3,x4,y4] normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "skeletonId": {
                                      "description": "Skeleton template ID for pose keypoint connections",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "classId"
                                  ],
                                  "additionalProperties": false,
                                  "description": "Image annotation"
                                }
                              }
                            },
                            "required": [
                              "url",
                              "width",
                              "height"
                            ],
                            "additionalProperties": false,
                            "description": "Sample image preview"
                          }
                        },
                        "clonedFrom": {
                          "description": "Source dataset ID if this is a clone",
                          "type": "string"
                        },
                        "cloneCount": {
                          "description": "Number of times this dataset has been cloned",
                          "type": "number"
                        },
                        "region": {
                          "description": "Dataset storage region",
                          "type": "string",
                          "enum": [
                            "us",
                            "eu",
                            "ap"
                          ]
                        },
                        "versions": {
                          "description": "Saved dataset version snapshots",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "version": {
                                "type": "number",
                                "description": "Version number"
                              },
                              "imageCount": {
                                "type": "number",
                                "description": "Image count at the time of the snapshot"
                              },
                              "classCount": {
                                "type": "number",
                                "description": "Class count at the time of the snapshot"
                              },
                              "annotationCount": {
                                "type": "number",
                                "description": "Annotation count at the time of the snapshot"
                              },
                              "splits": {
                                "type": "object",
                                "properties": {
                                  "train": {
                                    "type": "number",
                                    "description": "Training images"
                                  },
                                  "val": {
                                    "type": "number",
                                    "description": "Validation images"
                                  },
                                  "test": {
                                    "default": 0,
                                    "description": "Test images",
                                    "type": "number"
                                  },
                                  "labeled": {
                                    "default": 0,
                                    "description": "Labeled images",
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "train",
                                  "val",
                                  "test",
                                  "labeled"
                                ],
                                "additionalProperties": false,
                                "description": "Split stats at the time of the snapshot"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                                "description": "When the version was created"
                              }
                            },
                            "required": [
                              "version",
                              "imageCount",
                              "classCount",
                              "annotationCount",
                              "splits",
                              "createdAt"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "_id",
                        "userId",
                        "username",
                        "slug",
                        "name",
                        "visibility",
                        "task",
                        "imageCount",
                        "starCount",
                        "isStarred",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "description": "Dataset detail"
                    }
                  },
                  "required": [
                    "dataset"
                  ],
                  "additionalProperties": false,
                  "description": "Response from GET /api/datasets/{datasetId}"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "patch_api_datasets_datasetId",
        "description": "Update dataset properties like name, description, visibility, tags, or class names.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Resource visibility"
                  },
                  "tags": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    }
                  },
                  "classNames": {
                    "maxItems": 25000,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 100
                    }
                  },
                  "classColors": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 7
                    }
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "yolo",
                      "coco",
                      "voc",
                      "raw",
                      "ndjson"
                    ],
                    "description": "Dataset annotation format"
                  },
                  "task": {
                    "type": "string",
                    "enum": [
                      "detect",
                      "segment",
                      "semantic",
                      "classify",
                      "pose",
                      "obb"
                    ],
                    "description": "YOLO task type"
                  },
                  "license": {
                    "type": "string",
                    "enum": [
                      "None",
                      "CC0-1.0",
                      "CC-BY-2.5",
                      "CC-BY-4.0",
                      "CC-BY-SA-4.0",
                      "CC-BY-NC-4.0",
                      "CC-BY-NC-SA-4.0",
                      "CC-BY-ND-4.0",
                      "CC-BY-NC-ND-4.0",
                      "Apache-2.0",
                      "MIT",
                      "AGPL-3.0",
                      "GPL-3.0",
                      "Research-Only",
                      "Other"
                    ],
                    "description": "Dataset license identifier"
                  },
                  "iconColor": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "iconLetter": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 2
                      },
                      {
                        "type": "string",
                        "const": ""
                      }
                    ]
                  }
                },
                "additionalProperties": false,
                "description": "Input for updating a dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Operation succeeded"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false,
                  "description": "Standard success response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "delete_api_datasets_datasetId",
        "description": "Moves the dataset to trash. It can be restored within 30 days before permanent deletion.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset moved to trash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Operation succeeded"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false,
                  "description": "Standard success response"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{datasetId}/clone": {
      "post": {
        "summary": "Clone a public dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "post_api_datasets_datasetId_clone",
        "description": "Creates a copy of a public dataset in your account.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Optional new name for the cloned resource",
                    "type": "string"
                  },
                  "description": {
                    "description": "Optional new description for the clone",
                    "type": "string"
                  },
                  "visibility": {
                    "description": "Visibility for the cloned resource",
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "owner": {
                    "description": "Workspace username to clone into",
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "description": "Optional clone overrides"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dataset cloned to your account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasetId": {
                      "type": "string",
                      "description": "Cloned dataset ID"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Cloned dataset slug"
                    },
                    "name": {
                      "type": "string",
                      "description": "Cloned dataset name"
                    },
                    "imageCount": {
                      "type": "number",
                      "description": "Number of images copied into the clone"
                    },
                    "classCount": {
                      "description": "Class count on the cloned dataset",
                      "type": "number"
                    },
                    "region": {
                      "type": "string",
                      "enum": [
                        "us",
                        "eu",
                        "ap"
                      ],
                      "description": "Data region"
                    }
                  },
                  "required": [
                    "datasetId",
                    "slug",
                    "name",
                    "imageCount",
                    "region"
                  ],
                  "additionalProperties": false,
                  "description": "Response from POST /api/datasets/{datasetId}/clone"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{datasetId}/class-stats": {
      "get": {
        "summary": "Get class statistics",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets_datasetId_class_stats",
        "description": "Returns per-class annotation counts, image dimension distributions, and location heatmap data.",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          }
        ],
        "responses": {
          "200": {
            "description": "Class and annotation statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "classes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classId": {
                            "type": "number"
                          },
                          "count": {
                            "type": "number",
                            "description": "Total annotations of this class"
                          },
                          "imageCount": {
                            "type": "number",
                            "description": "Images containing this class"
                          }
                        },
                        "required": [
                          "classId",
                          "count",
                          "imageCount"
                        ],
                        "additionalProperties": false,
                        "description": "Per-class annotation statistics"
                      },
                      "description": "Per-class annotation counts (all defined classes)"
                    },
                    "imageStats": {
                      "type": "object",
                      "properties": {
                        "widthHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "heightHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "pointsHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          },
                          "description": "Points per annotation instance"
                        },
                        "formatDistribution": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "number"
                          },
                          "description": "Image format counts (ext → count)"
                        },
                        "fileSizeHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "objectsPerImageHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "bboxWidthHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "bboxHeightHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "bboxWidthNormHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        },
                        "bboxHeightNormHistogram": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bin": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "size": {
                                "description": "Bin width for ranged histograms; 1 for discrete histograms",
                                "type": "number"
                              }
                            },
                            "required": [
                              "bin",
                              "count"
                            ],
                            "additionalProperties": false,
                            "description": "Histogram bin"
                          }
                        }
                      },
                      "required": [
                        "widthHistogram",
                        "heightHistogram",
                        "pointsHistogram",
                        "formatDistribution",
                        "fileSizeHistogram",
                        "objectsPerImageHistogram",
                        "bboxWidthHistogram",
                        "bboxHeightHistogram",
                        "bboxWidthNormHistogram",
                        "bboxHeightNormHistogram"
                      ],
                      "additionalProperties": false,
                      "description": "Image and annotation distributions"
                    },
                    "locationHeatmap": {
                      "type": "object",
                      "properties": {
                        "bins": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "description": "20x20 grid of bbox center counts"
                        },
                        "maxCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "bins",
                        "maxCount"
                      ],
                      "additionalProperties": false
                    },
                    "dimensionHeatmap": {
                      "type": "object",
                      "properties": {
                        "bins": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "description": "20x20 grid of width vs height counts"
                        },
                        "maxCount": {
                          "type": "number"
                        },
                        "minWidth": {
                          "type": "number"
                        },
                        "maxWidth": {
                          "type": "number"
                        },
                        "minHeight": {
                          "type": "number"
                        },
                        "maxHeight": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "bins",
                        "maxCount",
                        "minWidth",
                        "maxWidth",
                        "minHeight",
                        "maxHeight"
                      ],
                      "additionalProperties": false
                    },
                    "classNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Dataset class names by index"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "Whether stats were served from the pre-computed cache"
                    },
                    "sampled": {
                      "description": "Whether stats were computed from a sample of images",
                      "type": "boolean"
                    },
                    "sampleSize": {
                      "description": "Number of images sampled when sampled=true",
                      "type": "number"
                    }
                  },
                  "required": [
                    "classes",
                    "imageStats",
                    "locationHeatmap",
                    "dimensionHeatmap",
                    "classNames",
                    "cached"
                  ],
                  "additionalProperties": false,
                  "description": "Response from GET /api/datasets/[id]/class-stats"
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{datasetId}/images": {
      "get": {
        "summary": "List images in a dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets_datasetId_images",
        "description": "Returns paginated dataset images. Labels are omitted by default and only included as capped preview annotations when includeLabels=true or overlayLabels=true.",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Owner username for public dataset access",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of images to return (default 50, max 5000)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Skip this many images for pagination",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from a previous response for efficient newest/oldest pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "description": "Set false to skip the total count",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "split",
            "in": "query",
            "required": false,
            "description": "Show only images in this split",
            "schema": {
              "type": "string",
              "enum": [
                "train",
                "val",
                "test"
              ]
            }
          },
          {
            "name": "hasError",
            "in": "query",
            "required": false,
            "description": "Filter by images with processing errors",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasLabel",
            "in": "query",
            "required": false,
            "description": "Filter by labeled status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "classIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated class IDs. Matches images containing any of the listed classes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive image name substring search (suffix optional), or exact hash lookup",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "name-asc",
                "name-desc",
                "height-asc",
                "height-desc",
                "width-asc",
                "width-desc",
                "size-asc",
                "size-desc",
                "labels-desc",
                "labels-asc"
              ]
            }
          },
          {
            "name": "includeThumbnails",
            "in": "query",
            "required": false,
            "description": "Set false to omit signed thumbnail URLs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeImageUrls",
            "in": "query",
            "required": false,
            "description": "Set true to include signed full-size image URLs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeLabels",
            "in": "query",
            "required": false,
            "description": "Set true to include capped preview labels",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "overlayLabels",
            "in": "query",
            "required": false,
            "description": "Alias for includeLabels used by gallery overlays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "forExport",
            "in": "query",
            "required": false,
            "description": "Set true to include full labels and image URLs for export-style consumers",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated image list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Image ID"
                          },
                          "hash": {
                            "type": "string",
                            "description": "XXH3-128 image hash"
                          },
                          "ext": {
                            "type": "string",
                            "description": "Stored file extension without dot"
                          },
                          "thumbnailUrl": {
                            "description": "Signed 256x256 WebP thumbnail URL when thumbnails are requested",
                            "type": "string"
                          },
                          "imageUrl": {
                            "description": "Signed full-size image URL when explicitly requested",
                            "type": "string"
                          },
                          "width": {
                            "type": "number",
                            "description": "Image width in pixels"
                          },
                          "height": {
                            "type": "number",
                            "description": "Image height in pixels"
                          },
                          "split": {
                            "type": "string",
                            "enum": [
                              "train",
                              "val",
                              "test"
                            ],
                            "description": "Dataset split"
                          },
                          "labelCount": {
                            "type": "number",
                            "description": "Number of annotations on this image"
                          },
                          "name": {
                            "type": "string",
                            "description": "Original image basename without suffix"
                          },
                          "bytes": {
                            "description": "Original file size in bytes",
                            "type": "number"
                          },
                          "error": {
                            "description": "Processing error message, if any",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "labels": {
                            "description": "Preview annotations returned only when includeLabels=true or overlayLabels=true",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "classId": {
                                  "type": "number",
                                  "description": "Class index (0-based)"
                                },
                                "bbox": {
                                  "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "segments": {
                                  "description": "Segmentation points, normalized 0-1",
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "keypoints": {
                                  "description": "Keypoints [x, y, visibility, ...] normalized 0-1",
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "obb": {
                                  "description": "Oriented bounding box [x1,y1,x2,y2,x3,y3,x4,y4] normalized 0-1",
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "skeletonId": {
                                  "description": "Skeleton template ID for pose keypoint connections",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "classId"
                              ],
                              "additionalProperties": false,
                              "description": "Image annotation"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "hash",
                          "ext",
                          "width",
                          "height",
                          "split",
                          "labelCount",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "description": "Total matching images. Omitted when includeTotal=false",
                      "type": "number"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more images remain after this page"
                    },
                    "classes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Dataset class names"
                    },
                    "errorCount": {
                      "type": "number",
                      "description": "Total images with processing errors"
                    },
                    "nextCursor": {
                      "description": "Cursor for the next page when using cursor-based pagination",
                      "type": "string"
                    }
                  },
                  "required": [
                    "images",
                    "hasMore",
                    "classes",
                    "errorCount"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{datasetId}/export": {
      "post": {
        "summary": "Export dataset to NDJSON",
        "tags": [
          "Datasets"
        ],
        "operationId": "post_api_datasets_datasetId_export",
        "description": "Generates a downloadable NDJSON file containing all images and labels. Returns a signed download URL.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          }
        ],
        "responses": {
          "201": {
            "description": "Export started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exportId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "exportId",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{datasetId}/images/{hash}/labels": {
      "get": {
        "summary": "Get image labels",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets_datasetId_images_hash_labels",
        "description": "Returns all annotations and class names for a specific image in the dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset URL name or ID, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image labels and class names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classId": {
                            "type": "number",
                            "description": "Class index (0-based)"
                          },
                          "bbox": {
                            "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "segments": {
                            "description": "Segmentation points, normalized 0-1",
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "keypoints": {
                            "description": "Keypoints [x, y, visibility, ...] normalized 0-1",
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "obb": {
                            "description": "Oriented bounding box [x1,y1,x2,y2,x3,y3,x4,y4] normalized 0-1",
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "skeletonId": {
                            "description": "Skeleton template ID for pose keypoint connections",
                            "type": "string"
                          }
                        },
                        "required": [
                          "classId"
                        ],
                        "additionalProperties": false,
                        "description": "Image annotation"
                      },
                      "description": "Annotations for this image"
                    },
                    "classNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Class names from dataset"
                    }
                  },
                  "required": [
                    "labels",
                    "classNames"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "404": {
            "description": "Dataset or image not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update image labels",
        "tags": [
          "Datasets"
        ],
        "operationId": "put_api_datasets_datasetId_images_hash_labels",
        "description": "Replaces all annotations for a specific image. Updates dataset-level statistics (annotation count, labeled count) incrementally.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
[...]
